<div id="container-exp">
	<div id="trial">
		<h1>Respond quickly!</h1>		
		
        
        <div id="images">    
            <STRONG>Target Image: </STRONG>         
            <img class="center-block" id="stimT" src="http://kreiman.hms.harvard.edu/mturk/mengmi/exp_ReturnFix/stimuli/array/targetT/stimuli_3_targetT.jpg" alt="stimuli" style="width:30%"/>       
        </div>

    	<STRONG>Which image A or B is more visually similar to the target image?</STRONG>

        <div id="images">    
            
            <STRONG>Option A: </STRONG>  
            <img id="stimL" class="fblogo" border="0" src="http://kreiman.hms.harvard.edu/mturk/mengmi/exp_ReturnFix/stimuli/array/RNR/stimuli_3_subj_11_nonReturn.jpg" alt="stimuliL" style="width:30%"/>             

             
            <STRONG>Option B: </STRONG> 
            <img id="stimR" class="fblogo" border="0" src="http://kreiman.hms.harvard.edu/mturk/mengmi/exp_ReturnFix/stimuli/array/RNR/stimuli_3_subj_11_Return.jpg" alt="stimuliF" style="width:30%"/>
            
        </div>         

		<center>Choose one and ONLY ONE from below:</center>	
		<input type="radio" id="r1" name="choice" value=1><label id="r1text">A</label><br>
	    <input type="radio" id="r2" name="choice" value=2><label id="r2text">B</label><br>

		<button type="button" id="submittrial" value="submittrial" class="btn btn-primary btn-lg pull-right">
                Submit <span class="glyphicon glyphicon-arrow-right"></span>
        </button>        
    	<div id="demo"></div>
	</div>
</div>
